/vendor/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/node_modules/

# fichiers temporaires
/web/sites/*/files/
/web/sites/*/private/
/web/sites/default/settings.php

# environment variables (NEVER commit)
.env
.env.local

# mac
.DS_Store

# logs
*.log
